In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('covid_toy.csv')

In [3]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
si = SimpleImputer(strategy= "mean")

In [7]:
df['fever'] =si.fit_transform(df[['fever']])

In [8]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [9]:
df.shape

(100, 6)

In [10]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [11]:
df2=df.copy()

In [12]:
df2.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [13]:
df2['gender'] = df2['gender'].map({'Male':1,'Female':0})

In [14]:
df2.sample(3)

    age  gender  fever cough     city has_covid
75    5       1  102.0  Mild  Kolkata       Yes
53   83       1   98.0  Mild    Delhi       Yes
80   14       0   99.0  Mild   Mumbai       Yes

In [15]:
df2['cough'] = df2['cough'].map({'Mild':0,'Strong':1})
df2['city'] = df2['city'].map({'Kolkata':0,'Bangalore':1,'Delhi':2,'Mumbai':3})
df2['has_covid'] = df2['has_covid'].map({'Yes':1,'No':0})

In [16]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [17]:
df2.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          0
1   27       1  100.0      0     2          1
2   42       1  101.0      0     2          0

In [18]:
x= df2.drop(columns= ['has_covid'])
y= df2['has_covid']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test, y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
np.round(x_train.describe(),1)

        age  gender  fever  cough  city
count  80.0    80.0   80.0   80.0  80.0
mean   42.9     0.4  101.0    0.4   1.3
std    24.5     0.5    1.9    0.5   1.1
min     5.0     0.0   98.0    0.0   0.0
25%    20.0     0.0  100.0    0.0   0.0
50%    42.0     0.0  101.0    0.0   1.0
75%    65.0     1.0  102.0    1.0   2.0
max    84.0     1.0  104.0    1.0   3.0

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
sc= StandardScaler()

In [24]:
x_train_sc = sc.fit_transform(x_train)

In [25]:
x_train_new =pd.DataFrame(x_train_sc,columns= x_train.columns)

In [26]:
np.round(x_train_new.describe(),1)

        age  gender  fever  cough  city
count  80.0    80.0   80.0   80.0  80.0
mean   -0.0     0.0   -0.0   -0.0   0.0
std     1.0     1.0    1.0    1.0   1.0
min    -1.6    -0.8   -1.6   -0.8  -1.2
25%    -0.9    -0.8   -0.5   -0.8  -1.2
50%    -0.0    -0.8    0.0   -0.8  -0.2
75%     0.9     1.2    0.5    1.2   0.7
max     1.7     1.2    1.6    1.2   1.6

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
mn = MinMaxScaler()

In [29]:
x_train_mn= mn.fit_transform(x_train)

In [30]:
x_train_new =pd.DataFrame(x_train_mn, columns = x_train.columns)

In [31]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

In [32]:
df=pd.read_csv("tips.csv")

In [33]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [34]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [35]:
df['sex']= df['sex'].map({'Female':0,'Male':1})

In [36]:
df['sex'].value_counts()

sex
1    157
0     87
Name: count, dtype: int64

In [37]:
df['smoker'] = df['smoker'].map({'No':0,'Yes':1})

In [38]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [39]:
df['time'] = df['time'].map({'Dinner':0,'Lunch':1})

In [40]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [41]:
df['day'] = df['day'].map({'Sat':0,'Sun':1,'Thur':2,'Fri':3})

In [42]:
x= df.drop(columns=['total_bill'])
y= df['total_bill']

In [43]:
x_train,x_test, y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [44]:
from sklearn.preprocessing import StandardScaler

In [45]:
sc= StandardScaler()

In [46]:
x_train_sc =sc.fit_transform(x_train)

In [47]:
x_train_new =pd.DataFrame(x_train_sc, columns= x_train.columns)

In [48]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean    -0.00   -0.00    0.00   -0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00    1.00
min     -1.46   -1.37   -0.79   -1.09   -0.61   -1.68
25%     -0.76   -1.37   -0.79   -1.09   -0.61   -0.61
50%     -0.06    0.73   -0.79   -0.06   -0.61   -0.61
75%      0.43    0.73    1.26    0.97    1.64    0.45
max      4.85    0.73    1.26    2.00    1.64    3.65

In [49]:
from sklearn.preprocessing import MinMaxScaler

In [50]:
mn = MinMaxScaler()

In [51]:
x_train_mn= mn.fit_transform(x_train)

In [52]:
x_train_new =pd.DataFrame(x_train_mn, columns = x_train.columns)