# Encoding --> Transform the categorical data into numerical data.

## LabelEncoding --> 

    1. It will convert categorical data into numerical one by one
    2. we cannot change sub-categories encodes values.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D://DataSet//covid_toy.csv")

In [3]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
si = SimpleImputer(strategy = "mean")

In [7]:
df["fever"] = si.fit_transform(df[["fever"]])

In [8]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
lb = LabelEncoder()

In [11]:
df["gender"] = lb.fit_transform(df["gender"])
df["cough"] = lb.fit_transform(df["cough"])
df["city"] = lb.fit_transform(df["city"])
df["has_covid"] = lb.fit_transform(df["has_covid"])

In [12]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
x = df.drop(columns = ["has_covid"])
y = df["has_covid"]

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
sc = StandardScaler()

In [19]:
x_train_sc = sc.fit_transform(x_train)

In [22]:
x_train_sc_df = pd.DataFrame(x_train_sc, columns = x_train.columns)
x_train_sc_df.head(4)

        age    gender     fever     cough      city
0  1.566141 -0.837931  0.009126 -0.816497  1.529732
1 -1.558945 -0.837931 -0.512343 -0.816497  0.629890
2 -0.983271 -0.837931 -0.512343 -0.816497  0.629890
3 -0.654315  1.193416 -0.512343 -0.816497 -0.269953

In [23]:
np.round(x_train_sc_df.describe(), 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.17
25%    -0.94   -0.84  -0.51  -0.82  -1.17
50%    -0.04   -0.84   0.01  -0.82  -0.27
75%     0.91    1.19   0.53   1.22   0.63
max     1.69    1.19   1.57   1.22   1.53

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
mc = MinMaxScaler()

In [29]:
x_train_mc = mc.fit_transform(x_train)

In [30]:
x_train_mc_df = pd.DataFrame(x_train_mc, columns = x_train.columns)
x_train_mc_df.head(4)

        age  gender     fever  cough      city
0  0.962025     0.0  0.500000    0.0  1.000000
1  0.000000     0.0  0.333333    0.0  0.666667
2  0.177215     0.0  0.333333    0.0  0.666667
3  0.278481     1.0  0.333333    0.0  0.333333

In [31]:
np.round(x_train_sc_df.describe(), 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.43
std     0.31    0.50   0.32   0.49   0.37
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00