# Ml Modeling

1. Data Creating
2. Data cleaning and preprocessing
3. select ml model based on terget data
4. model training
5. model prediction
6. evelute the model

## model --->
1. Supervised --> Label data given
2. unsupervised ---> unlabelled data given

# (1). supervised ML Modeling

### terget data ---> (x, y)
1. continous(numerical) --> LinearRegression, DecisionTreeRegressor, RandomForestRegressor,
2. Discreate(categorical) --> LogisticRegession, D.T.Classifier, R.F.Classifier, Naive Byes, svm

## (1). LinearRegression

In [1]:
# df ---> x, y
# x --> x_train, x_test
# y --> y_train, y_test

# model(x_train, y_train)
# model(x_test) --> output ???? --> y_pred
# Actual_output --> y_pred

# check difference(y_pred, y_test)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("D:\\DataSet\\insurance.csv")
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [4]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [6]:
df["sex"] = lb.fit_transform(df["sex"])
df["region"] = lb.fit_transform(df["region"])
df["smoker"] = lb.fit_transform(df["smoker"])

In [7]:
df.head(3)

   age  sex    bmi  children  smoker  region     charges
0   19    0  27.90         0       1       3  16884.9240
1   18    1  33.77         1       0       2   1725.5523
2   28    1  33.00         3       0       2   4449.4620

In [8]:
x = df.drop(columns = ["charges"])
y = df["charges"]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
lr = LinearRegression()

In [13]:
lr.fit(x_train, y_train)

LinearRegression()

In [14]:
y_pred = lr.predict(x_test)

In [15]:
# y_pred

In [16]:
from sklearn.metrics import r2_score

In [17]:
r2_score(y_test, y_pred)

0.7833463107364538

In [19]:
df = pd.read_csv("D:\\DataSet\\tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
le = LabelEncoder()

In [22]:
df["sex"] = le.fit_transform(df["sex"])
df["smoker"] = le.fit_transform(df["smoker"])
df["day"] = le.fit_transform(df["day"])
df["time"] = le.fit_transform(df["time"])

In [23]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [31]:
x = df.drop(columns = ["total_bill"])
y = df["total_bill"]

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
lr = LinearRegression()

In [35]:
lr.fit(x_train, y_train)

LinearRegression()

In [36]:
y_pred = lr.predict(x_test)

In [37]:
from sklearn.metrics import r2_score

In [38]:
r2_score(y_test, y_pred)

0.6334779105328123

In [39]:
df = pd.read_csv("D:\\DataSet\\Salary_dataset.csv")
df.head(3)

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0