# OneHotEncoding

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:\\DataSet\\tips.csv")

In [3]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
ohe = OneHotEncoder(drop="first", sparse_output=False, dtype=np.int32)

In [9]:
df_new = ohe.fit_transform(df[["sex", "smoker", "day", "time"]])

In [10]:
df_new

array([[0, 0, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 0],
       ...,
       [1, 1, 1, 0, 0, 0],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0]])

In [11]:
df.shape

(244, 7)

In [12]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [14]:
#total_bill
#tip
#sex ---> male, female
#smoker ---> yes, no
#day ---> mon, thr, sun, sat
#time --> dinner, lunch
#size

In [18]:
p = pd.get_dummies(df, columns = ["sex", "smoker", "day", "time"], drop_first = True)

In [19]:
p = p.astype(int)
p

,total_bill,tip,size,sex_Male,smoker_Yes,day_Sat,day_Sun,day_Thur,time_Lunch
0,16,1,2,0,0,0,1,0,0
1,10,1,3,1,0,0,1,0,0
2,21,3,3,1,0,0,1,0,0
3,23,3,2,1,0,0,1,0,0
4,24,3,4,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
239,29,5,3,1,0,1,0,0,0
240,27,2,2,0,1,1,0,0,0
241,22,2,2,1,1,1,0,0,0
242,17,1,2,1,0,1,0,0,0
243,18,3,2,0,0,0,0,1,0