In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D://Dataset//tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [3]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
df["sex"] = le.fit_transform(df["sex"])
df["smoker"] = le.fit_transform(df["smoker"])
df["day"] = le.fit_transform(df["day"])
df["time"] = le.fit_transform(df["time"])

In [7]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x = df.drop(columns = ["smoker"])
y = df["smoker"]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc = StandardScaler()

In [13]:
x_train_sc = sc.fit_transform(x_train)

In [14]:
x_train_sc_df = pd.DataFrame(x_train_sc, columns=x_train.columns)

In [15]:
np.round(x_train_sc_df.describe(), 2)

       total_bill     tip     sex     day    time    size
count      195.00  195.00  195.00  195.00  195.00  195.00
mean         0.00   -0.00   -0.00    0.00    0.00   -0.00
std          1.00    1.00    1.00    1.00    1.00    1.00
min         -1.65   -1.46   -1.37   -1.84   -0.61   -1.68
25%         -0.75   -0.76   -1.37   -0.76   -0.61   -0.61
50%         -0.26   -0.06    0.73    0.31   -0.61   -0.61
75%          0.53    0.43    0.73    0.31    1.64    0.45
max          3.50    4.85    0.73    1.39    1.64    3.65

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
mc = MinMaxScaler()

In [18]:
x_train_mc = mc.fit_transform(x_train)

In [19]:
x_train_mc_df = pd.DataFrame(x_train_mc, columns=x_train.columns)

In [21]:
np.round(x_train_mc_df.describe(), 2)

       total_bill     tip     sex     day    time    size
count      195.00  195.00  195.00  195.00  195.00  195.00
mean         0.32    0.23    0.65    0.57    0.27    0.31
std          0.19    0.16    0.48    0.31    0.45    0.19
min          0.00    0.00    0.00    0.00    0.00    0.00
25%          0.18    0.11    0.00    0.33    0.00    0.20
50%          0.27    0.22    1.00    0.67    0.00    0.20
75%          0.42    0.30    1.00    0.67    1.00    0.40
max          1.00    1.00    1.00    1.00    1.00    1.00