# OrdinalEncoding

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D://DataSet//covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [3]:
df.columns

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

In [4]:
numerical = ["age", "fever"]
categorial = ["gender", "cough", "city", "has_covid"]

In [5]:
df = df.drop(columns = numerical)

In [6]:
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [7]:
df["city"].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [8]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
oe = OrdinalEncoder(categories = [
    ["Male","Female"], 
    ["Mild","Strong"], 
    ["Kolkata","Bangalore","Delhi","Mumbai"], 
    ["No","Yes"]
])

In [10]:
df_transform = oe.fit_transform(df)

In [11]:
df_transform_df  = pd.DataFrame(df_transform, columns = categorial)
df_transform_df.sample(3)

    gender  cough  city  has_covid
71     1.0    1.0   2.0        0.0
95     1.0    0.0   1.0        0.0
88     1.0    0.0   0.0        0.0

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("D://DataSet//tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [14]:
numerical = ["total_bill", "tip", "size"]
categorial = ["sex", "smoker", "day", "time"]

In [15]:
df = df.drop(columns = numerical)

In [16]:
df.head(3)

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner

In [17]:
from sklearn.preprocessing import OrdinalEncoder

In [18]:
oe = OrdinalEncoder(categories = [
    ["Male","Female"], 
    ["No","Yes"], 
    ["Sat","Sun","Thur","Fri"], 
    ["Dinner","Lunch"]
])

In [19]:
df_transform = oe.fit_transform(df)

In [20]:
df_transform_df  = pd.DataFrame(df_transform, columns = categorial)
df_transform_df.sample(3)

     sex  smoker  day  time
167  0.0     0.0  1.0   0.0
228  0.0     0.0  0.0   0.0
91   0.0     0.0  3.0   0.0