In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:\\DataSet\\covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

# Filter data type in different list like int, float, and object

In [3]:
from sklearn.preprocessing import FunctionTransformer

int_list = []
float_list = []
object_list = []
def func_dtype(df):
    for i in df.select_dtypes(include = "int64").columns:
        int_list.append(i)
    for j in df.select_dtypes(include = "float64").columns:
        float_list.append(j)
    for k in df.select_dtypes(include = "object").columns:
        object_list.append(k)

dtype_filter = FunctionTransformer(func_dtype)

x = dtype_filter.transform(df)

print("Integer data types : ", int_list)
print("float data types : ", float_list)
print("object data types : ", object_list)

Integer data types :  ['age']
float data types :  ['fever']
object data types :  ['gender', 'cough', 'city', 'has_covid']

# apply LabelEncoder on object data type

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in object_list:
    df[i] = le.fit_transform(df[i])

df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
missing_dtype = []
for i in df.columns:
    missing = df[i].isnull().sum()
    if missing>0:
        missing_dtype.append(i)

print(missing_dtype)

['fever']

In [7]:
for i in missing_dtype:
    if i in df.columns:
        from sklearn.impute import SimpleImputer
        si = SimpleImputer(strategy="mean")
        df[i] = si.fit_transform(df[[i]])

df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

# train_test_split

In [8]:
from sklearn.model_selection import train_test_split

x = df.drop(columns = ["has_covid"])
y = df["has_covid"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# StandardScaler

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_sc = sc.fit_transform(x_train)
x_train_sc_df = pd.DataFrame(x_train_sc, columns = x_train.columns)
np.round(x_train_sc_df.describe(), 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.17
25%    -0.94   -0.84  -0.51  -0.82  -1.17
50%    -0.04   -0.84   0.01  -0.82  -0.27
75%     0.91    1.19   0.53   1.22   0.63
max     1.69    1.19   1.57   1.22   1.53

# MinMaxScaler

In [10]:
from sklearn.preprocessing import MinMaxScaler
mmc = MinMaxScaler()
x_train_mmc = mmc.fit_transform(x_train)
x_train_mmc_df = pd.DataFrame(x_train_mmc, columns = x_train.columns)
np.round(x_train_mmc_df.describe(), 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.43
std     0.31    0.50   0.32   0.49   0.37
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00